/*div#vid {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 80pt;
}*/
div.navAll{
	position: fixed;
	left: 0px;
	right: 0px;
	top: -30px;
	margin: 30px;
	padding-bottom: 50px;
	background-color: white;
	z-index:999;

}

div.all{
    margin-top: 170pt;

}


#video {

	width: 100%; 
	height: auto;
	border: solid 2pt #FFE3E3;
	
} 

#name {
	font-size: 5pt;
	color:#707070;
	font-family: 'Josefin Sans', sans-serif;
	float: right;

}



#nav1 {
	
	font-size: 13pt;
	color:black;
    margin: 20pt;
    padding: 2pt;
    font-family: 'Josefin Sans', sans-serif;
}





#nav1:hover {

	background-color: #FFE3E3;
}


#nav2 {
	
	font-size: 13pt;
	color:black;
    margin: 20pt;
    padding: 2pt;
    font-family: 'Josefin Sans', sans-serif;
}
#nav2:hover {

	background-color: #FFE3E3; 

}

#nav3 {
	
	font-size: 13pt;
	color:black;
	margin: 20pt;
	padding: 2pt;
	font-family: 'Josefin Sans', sans-serif;

}

#nav3:hover {
	background-color: #FFE3E3; 
	
}




h1 {
	font-size: 30pt;
	color:black;
	font-family: 'Reem Kufi', sans-serif;


    /*right:100pt;
    position: absolute;
	/*left: 500pt;*/
	/*top:-20pt;*/
	
}

.scale {
     height:120pt;
     margin: 8pt;
}


.scale:hover {
    transform: scale(1.1);
}


div#title1{
	letter-spacing:0px;
	font-family: 'Josefin Sans', sans-serif;
	font-size:13pt; 
	background-color: #FFE3E3;
	width: 64pt;
	transition: width 0.5s;
	margin: 20pt;
}
div#title1:hover{
	width: 74pt;
	letter-spacing:1px;

}


div#title2{
	font-family: 'Josefin Sans', sans-serif;
	font-size:13pt; 
	background-color: #FFE3E3;
	width: 120pt;
	transition: width 0.5s;
	margin: 20pt;

}
div#title2:hover{
	width: 130pt;
	letter-spacing:0.5px;
}

div#title3{
	font-family: 'Josefin Sans', sans-serif;
	font-size:13pt; 
	background-color: #FFE3E3;
	width: 51pt;
	transition: width 0.5s;
	margin: 20pt;

}
div#title3:hover{
	width: 59pt;
	letter-spacing:1px;

}

div#text{
	position: fixed;
	top: 140pt;
	padding-left:20pt; 
}


.Atitle{

    font-family: 'Josefin Sans', sans-serif;
	font-size:13pt; 
	font-weight: 400;
	padding: 2pt;
	margin: 5pt;
	transition: width 1s;

}

.Atitle:hover{
	background-color: #FFE3E3;
	width: 100%
	height:100%;
}

.content{
	font-family: 'Josefin Sans', sans-serif;
	font-size:13pt; 
	font-weight: 300;
	margin-left: 10pt;
	padding: 5pt;
}

.content:hover{
	letter-spacing: 1px;

}

a{
	text-decoration: none;
	color: black;
}

div.details{

	position: absolute;
	left: 260pt;
	top: 130pt;
	padding-right: 80pt;
	padding-left: 20pt;

}

.detail{
	width:100%;

	
}

.de{
	
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}

.name1{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
}

video{
	width: 100%;
	height: auto;
}


div.line{
	background-color: #FFE3E3;
	width: 30pt;
	height: 2pt;
    margin-left: 16pt;
    margin-top: 5pt;
}

div.aboutcontact{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	width: 506px;

}

.lineA{
	background-color: #FFE3E3;
	width: 100pt;
	height: 2pt;
	margin-top: 20pt
}

#con{
	height: 200pt;

}


